@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Sans;
  src: url(./fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px !important;
}
.container-fluid {
  /* max-width: 1900px !important; */
  width: 100%;
}
.section-head {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #1f1f1f;
}
.section-sub-head {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #1f1f1f;
}
.blue-head {
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #50a0c8;
}
.section-text {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
}
.blue-btn {
  white-space: nowrap;
  background: #50a0c8;
  border-radius: 5px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  padding: 13px 30px;
  border: none;
  outline: none;
}
.white-btn {
  border: 1px solid #50a0c8;
  border-radius: 5px;
  font-weight: 500;
  line-height: 19px;
  color: #50a0c8;
  padding: 13px 30px;
  outline: none;
  /* border: none; */
}
.white-btn img {
  vertical-align: middle;
}
/* header styling */
header {
  min-height: 80px;
  /* position: fixed; */
  background: white;
}

.nav-link {
  font-weight: 500;
  line-height: 19px;
  color: #818181;
}
.navbar-nav {
  column-gap: 51px;
}
.navbar-brand img {
  height: 80px;
}
/* banner styling  */
.banner {
  background: url(./assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 543px;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}
.banner::after {
  content: "";
  background: url(./assets/banner-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}
.banner .row {
  width: 1200px;
}
.banner-text h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #50a0c8;
}
.banner-text h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  color: #1f1f1f;
}
.banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #636363;
}

/* connect styling */
.connect {
  background: url(./assets/tech-wave.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 0px;
  background-size: 27%;
}
.connect .container-fluid {
  max-width: 1900px !important;
}
.connect .section-head {
  margin-bottom: 2.5rem;
}
.connect .section-text {
  margin-bottom: 34px;
}

/* products styling  */
.products {
  padding-bottom: 100px;
}
.products .section-text {
  margin-bottom: 60px;
}
.products .card {
  min-height: 275px;
  /* max-width: 380px; */
  border-radius: 10px;
  border: none !important;
  width: 18rem !important;
}
.products .card-img {
  width: 100%;
  height: 204px;
  background: linear-gradient(0deg, #f4f4f4, #f4f4f4), #f7f7f7;
}
.products .card-title {
  margin-top: 0.75rem;
}
.products .card-title .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #50a0c8;
  margin-bottom: 0;
}
.products .card-container {
  box-shadow: 0px 2px 8px rgba(80, 160, 200, 0.3);
  border-radius: 10px;
}

/* case studies styling  */

.case-studies {
  padding: 60px 0px;
  background: #f6f6f6;
  width: 100% !important;
}
.case-studies .section-head {
  margin-bottom: 35px;
}
.case-studies .section-text {
  margin-bottom: 58px;
}
.case-studies .row {
  margin-bottom: 80px;
}

/* blogs styling  */

.blogs {
  padding: 100px 0px;
}
.blogs > div:nth-child(2) {
  margin-top: 50px;
}
.blogs .card-container {
  border-radius: 10px;
  background: #f6f6f6;
}
.blogs .date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1f1f1f;
  margin-bottom: 18px;
}
.blogs .card-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #50a0c8;
  text-decoration: none;
  margin-bottom: 20px;
}
.blogs .card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #636363;
}
.blogs .card-text b {
  color: black;
}
.blogs .card {
  border: none;
  max-width: 380px !important;
}
.blogs img {
  width: 100%;
}
.blogs .section-head {
  margin-bottom: 46px;
}
.blogs .card-title {
  padding: 15px;
  padding-bottom: 39px !important;
}
.blogs .row {
  row-gap: 2rem;
}
/* contact section styling  */
.contact {
  background: rgba(80, 160, 200, 0.1);
  padding: 60px 0px 80px 0px;
}
.contact .section-head {
  margin-bottom: 60px;
}
.contact img {
  height: 100%;
}
.contact p {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
}
.contact form textarea,
.contact form input {
  background: #ffffff;
  border: 0.2px solid #bfbfbf;
  resize: none;
  width: 100%;
}
.contact form textarea::placeholder,
.contact form input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #636363;
}
.contact input {
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
}
.contact textarea {
  margin-bottom: 30px;
  height: 133px;
  padding-left: 10px;
  padding-top: 12px;
}
.contact .name-inputs {
  gap: 1rem;
}
footer {
  background: #1f1f1f;
  min-height: 483px;
  padding-top: 51px;
  padding-bottom: 47px;
  font-family: Sans !important;
}
footer .upper-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  font-family: Sans;
}
footer .upper-footer .d-flex {
  gap: 25px;
}
footer .middle-footer {
  padding-left: 4rem;
}
footer .middle-footer h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Sans;
}
footer .middle-footer ul li {
  list-style: url(./assets/arrow.svg);
}
footer .middle-footer ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  font-family: Sans;
}
footer .lower-footer h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Sans;
}
footer .lower-footer a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  font-family: Sans;
}
footer .credits {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 50px;
  font-family: Sans;
}
@media screen and (max-width: 1200px) {
  .banner .row {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  header {
    min-height: 80px !important;
  }
  .navbar-nav {
    text-align: center;
    position: relative;
    z-index: 999;
  }
  .navbar-nav .nav-item:last-child{
    margin-bottom: 1rem;
  }
  .banner {
    padding: 0 !important;
  }
  .banner::after,
  .banner::before {
    display: none;
  }
  .banner .row > div:first-child {
    text-align: center;
    order: 2;
  }
  .banner .row > div:last-child {
    background: url(./assets/banner-img.png);
    height: 50%;
    order: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connect,
  .case-studies,
  .blogs,
  .contact,
  .products {
    padding: 50px 0px;
  }
  .connect .connect-content {
    text-align: center !important;
  }
  .connect .connect-content p,
  .connect .connect-content button {
    text-align: center;
  }
  .connect .section-text {
    margin: 1.5rem 0px;
  }
  .case-studies img {
    margin-bottom: 1.5rem;
  }
  .case-studies .row {
    margin-bottom: 0px;
  }
  .case-studies .container {
    text-align: center;
  }
  .case-studies .section-head,
  .case-studies .section-text,
  .contact .section-head {
    margin-bottom: 1.5rem;
  }
  .case-studies .case-2-title {
    order: 2;
  }
  .case-2-img {
    order: 1;
  }
  .case-studies .white-btn {
    margin-bottom: 1rem;
  }
  .contact .img-container {
    margin-bottom: 1rem;
  }
  .contact-text {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .upper-footer,
  .middle-footer,
  .lower-footer {
    display: grid;
    place-items: center;
  }
  .footer-logo {
    text-align: center;
  }
  footer .upper-footer .d-flex {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .blogs > div:nth-child(2) {
    margin-top: 1rem;
  }
  footer .middle-footer {
    padding: 0px;
  }
}
@media screen and (max-width: 576px) {
  .banner-text p {
    font-size: 15px;
    line-height: 23px;
  }
  .banner-text h2 {
    font-size: 16px;
  }
  .banner-text h1 {
    font-size: 43px;
    line-height: 53px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .connect img {
    width: 80%;
  }
  .case-studies .case-img {
    width: 100%;
  }
  .contact .name-inputs {
    display: block !important;
  }
  .contact img {
    width: 80%;
  }
}
@media screen and (max-width: 361px) {
  .products img {
    width: 90%;
  }
  footer .footer-logo .logo {
    width: 100%;
  }
  .banner {
    min-height: 750px;
  }
  .navbar {
    flex-wrap: nowrap !important;
  }
  .navbar-toggler {
    padding: 0 !important;
  }
  header nav {
    display: block !important;
  }
  .products .row div {
    margin-bottom: .7rem;
  }
}
